*.dll
*.pdb
*.suo
*.lock.json
*.dll.mdb
*.user
.svn
.vs
bin
obj
packages
BundleArtifacts
AppPackages
*.designer.cs
*.CodeAnalysisLog.xml
*.lastcodeanalysissucceeded
*.targets
*.props
*.csproj.bak
*.targets
*.props
file_paths.xml
/NuGet/netstandard2.0/Hid.Net.deps.json
*.nupkg
*.bak
/.vscode
*.nuspec

.DS_Store

simple_state_management/pubspec.lock

MinimalAOT/MinimalAOT/mydatabase.db

MinimalAOT/MinimalAOT/mydatabase.db-shm

MinimalAOT/MinimalAOT/mydatabase.db-wal

MinimalAOT/MinimalAOT/mydatabase.sqbpro

MinimalAOT/MinimalAOT/.idea/.idea.MinimalAOT/.idea/
